<div class="list">
  <div ng-click="toggleOverlay('aqua_light');" class="item item-divider item-dark" style="padding:0; font-size:1em; font-weight:bold; background-color: rgba(0, 0, 0, 0); border-width: 0; border-bottom-width: 1px; border-color: rgba(255, 255, 255, 0.5);"> 
    <pre>[ Light: Sunny ]</pre>
  </div>
  <ion-scroll style="max-height:77vh;">

<!-- Toggles -->
    <ion-toggle class="item item-dark" style="background-color: rgba(0, 0, 0, 0); border-width: 0; border-bottom-width: 1px; border-color: rgba(255, 255, 255, 0.16); text-align:left;" ng-model="airplaneMode" toggle-class="toggle-royal">Enable Smart Lighting</ion-toggle>
    <ion-toggle class="item item-dark" style="background-color: rgba(0, 0, 0, 0); border-width: 0; border-bottom-width: 1px; border-color: rgba(255, 255, 255, 0.16); text-align:left;" ng-model="airplaneMode2" toggle-class="toggle-royal">Follow Weather</ion-toggle>

<!-- Daytime -->
    <div class="item item-dark" style="padding-top:0.5em; background-color: rgba(0, 0, 0, 0); border-width: 0; border-bottom-width: 1px; border-color: rgba(255, 255, 255, 0.16);">
      <div style="padding-top:0; text-align:left; font-size: 0.9em; font-weight:bold;">Daytime:</div>
      <div class="range range-royal">
        <span style="width:5.7em;">Brightness</span>
        <input type="range" name="volume" min="0" max="100" value="33">
        <span style="width:3.2em;">10 %</span>
      </div>
      <div class="range range-royal">
        <span style="width:5.7em;">Color Temp.</span>
        <input type="range" name="volume" min="0" max="100" value="33">
        <span style="width:3.2em;">5500 k</span>
      </div>
    </div>

<!-- Sunset -->
    <div class="item item-dark" style="padding-top:0.5em; background-color: rgba(0, 0, 0, 0); border-width: 0; border-bottom-width: 1px; border-color: rgba(255, 255, 255, 0.16);">
      <div style="padding-top:0; text-align:left; font-size: 0.9em; font-weight:bold;">Sunset:</div>
      <div class="range range-royal">
        <span style="width:5.7em;">Brightness</span>
        <input type="range" name="volume" min="0" max="100" value="33">
        <span style="width:3.2em;">100 %</span>
      </div>
      <div class="range range-royal">
        <span style="width:5.7em;">Color Temp.</span>
        <input type="range" name="volume" min="0" max="100" value="33">
        <span style="width:3.2em;">5500 k</span>
      </div>
    </div>

<!-- Bedtime -->
    <div class="item item-dark" style="padding-top:0.5em; background-color: rgba(0, 0, 0, 0); border-width: 0;">
      <div style="text-align:left; font-size: 0.9em; font-weight:bold;">Bedtime:</div>
      <div class="range range-royal">
        <span style="width:5.7em;">Brightness</span>
        <input type="range" name="volume" min="0" max="100" value="33">
        <span style="width:3.2em;">100 %</span>
      </div>
      <div class="range range-royal">
        <span style="width:5.7em;">Color Temp.</span>
        <input type="range" name="volume" min="0" max="100" value="33">
        <span style="width:3.2em;">5500 k</span>
      </div>
    </div>

  </ion-scroll>
</div>